<app-add-product></app-add-product>

<br>
<div *ngIf="products?.length > 0; else noItems">

    <mat-grid-list cols="4" rowHeight="400px">
      <mat-grid-tile *ngFor="let product of products | orderBy: 'name' :false">

          <mat-card class="product-card" >
              <mat-card-header>
                <img mat-card-avatar *ngIf="product.url" [src]="product.url">
                <mat-card-title *ngIf="!editMode || (editMode && productEditedId != product.id)">{{product.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="!editMode || (editMode && productEditedId != product.id)">{{product.cost | currency}}</mat-card-subtitle>

                <mat-card-title *ngIf="editMode && productEditedId == product.id" class="edit">
                  <div   style="display:inline-block">
                      <mat-form-field style="width:100px">
                          <input matInput placeholder="Nombre" [(ngModel)]="productEdited.name" required>
                      </mat-form-field>

                      &nbsp;&nbsp;
                  </div>
                  
                  <div style="display:inline-block">
                    <mat-form-field style="width:100px">
                        <span matPrefix>$&nbsp;</span>
                        <input type="number" min="0" matInput placeholder="Precio" [(ngModel)]="productEdited.cost" required>
                    </mat-form-field>
                  </div>
              </mat-card-title>

              </mat-card-header>
              
              <img mat-card-image *ngIf="product.url; else loadingImg" [src]="product.url" alt="product.name" 
                  (click)="openDialog(product)">

              <div class="edit-product-image">
                <div>
                    <label for="imageUpload-{{product.id}}" class=""><mat-icon>photo_camera</mat-icon>Actualizar imagen del producto</label>
                    <input type="file" #imageUpload id="imageUpload-{{product.id}}" (change)="startUpload($event.target.files, product)" accept="image/*" style="display: none">
                </div>
              </div>

              <!-- <mat-card-content>
                <p>
                    Fecha: {{product.createdDate | date}}
                </p>
              </mat-card-content> -->
              <mat-card-actions>
                <button *ngIf="!editMode || (editMode && productEditedId != product.id)" mat-raised-button color="accent" (click)="delete(product)">ELIMINAR</button>
                <button *ngIf="!editMode || (editMode && productEditedId != product.id)" mat-raised-button color="primary" (click)="edit(product)">EDITAR</button>
                
                <button *ngIf="editMode && productEditedId == product.id" type="button" mat-mini-fab color="accent" (click)="cancel(product)" ><mat-icon>close</mat-icon></button>
                <button *ngIf="editMode && productEditedId == product.id" type="button" mat-mini-fab color="primary" (click)="save(product)" [disabled]="!productEdited.name || !productEdited.cost"><mat-icon>save</mat-icon></button>

              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
<br>
    <mat-paginator [length]="totalProducts"
        [pageSize]="pageSize" (page)="nextPage($event)">
    </mat-paginator>

    <!-- [pageSizeOptions]="[4, 12, 24]"> -->
</div>

<ng-template #noItems>
  <br>
  <h5>No hay productos para mostrar</h5>
</ng-template>

<ng-template #loadingImg>
  <div class="loading-image">
    <span>
        Cargando...
    </span>
  </div>
</ng-template>
