.app{
    height: 90vh;
}

mat-sidenav {
    width: 20vw;   
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

.mat-nav-list a.mat-list-item:hover {
    background: #f778a2;
    color: #FFF;
}

a.mat-list-item{
    width: 100%;
    font-family: 'BackToBlack';
}

a.mat-list-item i{
    margin-right: 5px;
}

a.mat-list-item.active{
    background: #ff4081;
    color: #FFF;
    font-weight: 600;
}

mat-sidenav-content{
    padding: 10px 20px;
    font-family: "Roboto","Helvetica Neue",sans-serif;
}