<mat-sidenav-container class="example-sidenav-container app" (backdropClick)="close('backdrop')" >
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose align="start" class="mat-elevation-z6">
      
      
      <mat-nav-list>

          <a mat-list-item [routerLink]="['/Productos']" [routerLinkActive]="['active']" (click)="sidenav.close()"><i class="material-icons">note_add</i>Productos</a>
          <a mat-list-item [routerLink]="['/Calendario']" [routerLinkActive]="['active']" (click)="sidenav.close()"><i class="material-icons">today</i>Calendario</a>
          <a mat-list-item [routerLink]="['/Ingresos']" [routerLinkActive]="['active']" (click)="sidenav.close()"><i class="material-icons">add_shopping_cart</i>Ingresos</a>
          <a mat-list-item [routerLink]="['/Egresos']" [routerLinkActive]="['active']" (click)="sidenav.close()"><i class="material-icons">money_off</i>Egresos</a>
      </mat-nav-list>

    </mat-sidenav>
  
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>